.profile_body {
  text-align: center;
  margin: 0 auto;
  .profile_photo {
    // margin: 0 auto;
    // width: 200px;
    // height: 200px;
    // border-radius: 50%;
    // background-color: whitesmoke;
    img {
      border-radius: 50%;
    }
  }
  button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:hidden;
    background-color: rgba(255,255,255,0);
    i {
      font-size: 40px;
    }
  }
  p {
    margin-top: -10px;
  }
}