// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_title {
  margin-top: 200px;
  text-align: center;
  color: white; 
}
.login_parts {
  text-align: center;
  .login_button {
    width: 250px;
    height: 50px;
    font-size: 20px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 30px 30px;
    font-weight: bold;
    color: #FFF;
    background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
    transition: .4s;
  }
  
  .login_button:hover {
    background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
  }
}

.modal_input {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 300px;
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  input {
    font-size: 30px !important;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  // styles for small screens and down
  .top_title h1{
    font-size: 30px;
  }
  .modal_title {
    font-size: 20px;
  }
  #modal_input_id {
    margin-bottom: 30px;
    margin: 0 auto;
    width: 140px !important; 
    input {
      font-size: 20px !important; 
    }
    label {
      font-size: 10px;
    }
  }
}